@{
    ViewBag.Title = "Aboutus";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Volver al juego</p>

<style>
    body {
        background-color: deepskyblue;
    }

    h2 {
        text-align: center;
        color: red;
    }

    h3 {
        font-family: "Times New Roman", Times, serif;
        color: palevioletred;
    }
</style>