@using QEQ_09.Models
@{
    ViewBag.Title = "AdministrarCaracteristicas";
}

<h2>AdministrarCaracteristicas</h2>

<style>
    body {
        background-color: deepskyblue;
    }
</style>


@using (Html.BeginForm("--", "Backoffice", FormMethod.Post))
{
    List<bool> Lista = new List<bool>();

    for(int i = 0; i <= ViewBag.Caracteristicas.Count; i++)
    {
         <input type="checkbox" name="@Lista[i]" value="@Lista[i].ToString()" />
    }
         <input type="submit" value="Enviar" />
}s


    <table style="width:100%">
        <tr>
            <th>Caracteristicas</th>
            <th>↡↡↡↡↡↡</th>

        </tr>
        @foreach (QEQ_09.Models.Caracteristicas c in ViewBag.Caracteristicas)
        {
            <tr>
                <td>@c.Caracteristica1</td>


            </tr>
            }
    </table>

