
@{
    ViewBag.Title = "AdministrarCaracteristicas";
}

<h2>AdministrarCaracteristicas</h2>

<style>
    body {
        background-color: deepskyblue;
    }
</style>

<table style="width:100%">
    <tr>
        <th>Caracteristicas</th>
        <th>↡↡↡↡↡↡</th>

    </tr>
    @foreach (QEQ_09.Models.Caracteristicas c in ViewBag.Caracteristicas)
    {
    <tr>
        <td>@c.Caracteristica1</td>
        <td>@Html.ActionLink("Asignar", "AMCaracteristicas", "Home", new { Accion = "Asignar", IdCaracteristica = c.IdCaracteristica }, null)</td>

    </tr>
    }
</table>