<style>
    body {
        background-color: deepskyblue;
    }
</style>

<table style="width:100%">
    <tr>
        <th>Caracteristicas</th>
        <th>↡↡↡↡↡↡</th>

    </tr>
    @foreach (QEQ_09.Models.Caracteristicas c in ViewBag.Caracteristica)
    {
        <tr>
            <td>@c.Caracteristica1</td>          
        </tr>
    }
</table>