@using QEQ_09.Models
@model Personaje
@{
    ViewBag.Title = "EditarPersonaje";
}

<style>
    body {
        background-color: deepskyblue;
    }
</style>
}

<h2>EditarPersonaje</h2>

<form action="@Url.Action("GuardarPersonaje","Home")" method="post">
    Nombre @Html.TextBoxFor(x => x.Nombre1)<br />
    fkCategoria @Html.TextBoxFor(x => x.Fk_Categoria)<br /><br />
    @Html.HiddenFor(x => x.IdPersonaje)<br />
    <input id="submit" type="submit" value="Guardar" />
</form>