


@{
    ViewBag.Title = "Instrucciones";
}
<h2>Instrucciones</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-color: deepskyblue;
    }

    h2 {
        text-align: center;
    }

    h3 {
        font-family: "Times New Roman", Times, serif;
    }

    
</style>
