
@{
    ViewBag.Title = "AdministrarCaracteristicas";
}

<h2>AdministrarCaracteristicas</h2>

<style>
    body {
        background-color: deepskyblue;
    }
</style>
}
<table style="width:100%">
    <tr>
        <th>Pregunta</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    @foreach (QEQ_09.Models.Pregunta p in ViewBag.Pregunta)
    {
        <tr>
            <td>@p.Preguntas</td>
           
        </tr>
    }
</table>