
@{
    ViewBag.Title = "AdminPersonajes";
}

<h2>AdminPersonajes</h2>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
    </tr>
    @foreach (QEQ_09.Models.Personaje p in ViewBag.Personaje)
    {
        <tr>
            <td>@p.IdPersonaje</td>
            <td>@p.Nombre1</td>
            <td>@p.Fk_Categoria</td>
        </tr>
    }
</table>
