@{
    ViewBag.Title = "Home Page";
}


<a title="logo" target="_parent"><img src=~/Content/LOGO.jpg width="64" height="64" /> </a>

<h3>@ViewBag.Message</h3>
<a href= "@Url.Action("Registro", "Home")" title="Registrarse"target="_blank">Registro</a>


