@{
    ViewBag.Title = "Home Page";
}


<a title="logo" target="_parent"><img src=~/Content/LOGO.jpg width="64" height="64" /> </a>

<h3>@ViewBag.Message</h3>
<h2></h2>
<input type="button" value="Go Somewhere Else" onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />

