@{
    ViewBag.Title = "Login";


    <style>
        body {
            background-color: tomato;
        }

        #email{
            margin-left: 26px;
        }

        #submit{
            margin-left: 100px;
        }
    </style>
}

<h2>Login</h2>

<form action="@Url.Action(" AcceptLogin","Registro")" method="get">
    Email <input id="email" type="email" name="txtEmail" /><br />
    Password <input type="password" name="txtPwd" /><br />
    <input id = "submit" type="submit" value="Ingresar" />
</form>
<h3>@ViewBag.MensajeError</h3>


<a href="Url.Action(" Registro", "Home" )" title="Registrarse" target="_blank">Registrarse</a>
<a href="Url.Action(" OlvidarContraseña", "Home" )" title="¿Olvidó su contraseña?" target="_blank">¿Olvidaste tu contraseña?</a>