@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="@Url.Action(" AcceptLogin","Home")" method="get">
    Email <input type="email" name="txtEmail" /><br />
    Password <input type="password" name="txtPwd" /><br />
    <input type="submit" value="Ingresar" />
</form>
<h3>@ViewBag.MensajeError</h3>


<a href="Url.Action("Registro", "Home")" title="Registrarse" target="_blank">Registrarse</a>
<a href="Url.Action("OlvidarContraseña", "Home")" title="¿Olvidó su contraseña?" target="_blank">OlvidarContraseña</a>