@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<ul>
    <li>Ingrese su Email: <input type= "text” name="email" /></li>
    <li>Ingrese su Contraseña: <input type="password" name="pass" /></li>

</ul>
